
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');



body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    top: 0px;
}

.header{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: rgb(255, 254, 253);
}

.main{
    position: absolute;
    top: 60px;
    width: 100%;
    height: 1200px;
    background-color: rgb(255, 254, 253);
}

.footer{
    position: absolute;
    top: 1260px;
    width: 100%;
    height: 100px;
    background-color: lightgrey;
}

.humberger{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 20px;
    width: 28px;
    display: inline-block;
    box-sizing: border-box;
}

.humberger div{
    position: absolute;
    left: 0;
    height: 2px;
    width: 28px;
    background-color: black;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
}

.humberger div:nth-of-type(1){
    bottom: 20px;
}

.humberger div:nth-of-type(2){
    bottom: 10px;
}

.humberger div:nth-of-type(3){
    bottom: 0px;
}


.header-logo{
    /* font-family:'Caveat',cursive ; */
    /* font-family: 'Ubuntu Mono', monospace; */
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: black; 
}

.header-logo a{
    font-weight: bold;
    font-size: 50px;
    color: black;
    text-decoration: none;
}

.header-list{
    position: fixed;
    /* background-color: lightcyan; */
    top: 20px;
    right: 20px;
}

.header li{
    list-style: none;
    float: right;
    padding: 10px 10px;
    margin-top: 0px;
}

.header-list a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    /* letter-spacing: 0.05em; */
    color: black;
}

.header ul{
    padding: 0px 10px;
    margin: 0px;
}

.myprofile{
    height: 400px;
    background-color: lightgrey;
    width: 100%;
}

.icecream-img-wrap{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 400px;
}

.icecream-img-wrap img{
    /* position: absolute; */
    text-align: center;
    width: 150px;
    height: 400px;
}

.icecream-img-wrap img:hover{
    transform: scale(0.5,0.5);
}

.myprofile-logo{
    position: absolute;
    margin: 50px 0px 0px 0px;
    width: 50%;
    /* background-color: cadetblue; */
}
.myprofile-logo1{
    /* position: absolute; */
    font-size: 70px;
    text-align: right;
    font-weight: bold;
    width: 90%;
}

.myprofile-logo2{
    /* position: fixed; */
    height: 5px;
    width: 200px;
    margin: 0px 0px 15px 250px;
    text-align: right;
    background-color: black;
    display: inline-block;
}

.myprofile-logo3{
    /* position: absolute; */
    font-size: 70px;
    /* margin-left: 30px; */
    display: inline-block;
    font-weight: bold;
}

.myprofile-text{
    position: absolute;
    width: 50%;
    margin: 250px 0px 0px 0px;
}

.myprofile-text1{
    /* text-align: center; */
    margin: 0px 0px 0px 250px;
}

.myprofile-text2{
    /* text-align: center; */
    margin: 0px 0px 0px 250px;
}

.myprofile-text3{
    text-align: center;
    margin: 30px 0px 0px 0px;
}

.work1{
    height: 400px;
    background-color:rgb(255, 254, 253);
    width: 100%; 
    position: absolute;
}

.work1-img-wrap{
    width: 50%;
    height: 400px;
    position: absolute;
    right: 0px;
}

.work1-img-wrap img{
    width: 70%;
    height: 300px;
    margin-top: 50px;

}

.work1-img-wrap img:hover{
    transform: scale(1.5,1.3);
}

.work1-logo{
    position: absolute;
    margin: 50px 0px 0px 0px;
    width: 50%;
    /* background-color: cadetblue; */
}
.work1-logo1{
    /* position: absolute; */
    font-size: 70px;
    text-align: right;
    font-weight: bold;
    width: 90%;
}

.work1-logo2{
    /* position: fixed; */
    height: 5px;
    width: 200px;
    margin: 0px 0px 15px 250px;
    text-align: left;
    background-color: black;
    display: inline-block;
}

.work1-logo3{
    font-size: 70px;
    display: inline-block;
    font-weight: bold;
}

.work1-text{
    position: absolute;
    width: 50%;
    margin: 250px 0px 0px 0px;
}

.work1-text1{
    /* text-align: center; */
    margin: 0px 0px 0px 350px;
}

.work1-text2{
    /* text-align: center; */
    margin: 0px 0px 0px 350px;
}

.work1-text3{
    /* text-align: center; */
    margin: 30px 0px 0px 400px;
}

.work2{
    margin-top: 400px;
    height: 400px;
    background-color:rgb(255, 254, 253);
    width: 100%; 
    position: absolute;
}

.work2-img-wrap{
    width: 50%;
    height: 400px;
    position: absolute;
    left: 0px;
}

.work2-img-wrap img{
    width: 70%;
    height: 300px;
    margin-top: 50px;
    position: absolute;
    right: 0px;
}

.work2-img-wrap img:hover{
    transform: scale(1.5,1.3);
}


.work2-logo{
    position: absolute;
    margin: 50px 0px 0px 0px;
    width: 50%;
    right: 0px;
    /* background-color: cadetblue; */
}
.work2-logo1{
    /* position: absolute; */
    font-size: 70px;
    /* text-align: right; */
    font-weight: bold;
    margin: 0px 0px 0px 100px;
}

.work2-logo2{
    /* position: absolute; */
    font-size: 70px;
    font-weight: bold;
    display: inline-block;
    margin: 0px 0px 0px 100px;
}

.work2-logo3{
    height: 5px;
    width: 200px;
    margin: 0px 0px 15px 0px;
    text-align: right;
    background-color: black;
    display: inline-block;
}

.work2-text {
    position: absolute;
    width: 50%;
    margin: 250px 0px 0px 0px;
    right: 0px;
}

.work2-text1{
    /* text-align: center; */
    margin: 0px 0px 0px 100px;
}

.work2-text2{
    /* text-align: center; */
    margin: 0px 0px 0px 100px;
}

.work2-text3{
    text-align: center;
    margin: 30px 200px 0px 0px;
}
